<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice testng Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.googleTest"/>
      <class name="testng.testngfeatures"/>
      <class name="testng.testngbasics"/>
      <class name="testng.invocationcountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
